{% extends 'bases/base.html' %}
{% load static %}

{% block content %}
{{form.media}}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-10 col-xl-7 m-auto text-center">
            <h1 class="my-3 my-lg-4 py-2">EventTime Create</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-10 col-xl-7 m-auto">
			<form id="myform" method="post" enctype="multipart/form-data">
	            {% csrf_token %}
	            <div class="form shadow-sm bg-white rounded p-3 p-lg-4">
	                <div class="form-group row mt-3">
	                    <div class="col-12 col-sm-7">
	                        <label class="mb-2">Event Time</label>
								<div >
									<a>{{ form.event }}</a>
								</div>
	                    </div>
	                    <div class="col-12 col-sm-5 mt-3 mt-sm-0">
	                        <label>Event Owner</label>
	                        {{ form.owner }}
	                    </div>
	                </div>
					<div class="form-group row">
	                    <label  class="col-sm-3 col-form-label mb-2 mb-sm-0">Start DateTime</label>
	                    <div class="col-sm-9">
	                        {{ form.start_datetime }}
	                    </div>
	                </div>
	                <div class="row">
	                    <div id="button_form" class="col-12 text-center mt-2 mb-lg-4">
                            <a id='button_save' onclick="document.getElementById('myform').submit()" class="btn btn-lg btn-primary">Save</a>
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-danger">Cancel</a>
                        </div>
	                </div>
	            </div>
	        </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
	{% if form.errors %}
		var errors = '';
		{% for field in form %}
			{% for error in field.errors %}
				errors += '{{error}}\n';
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			errors += '{{error}}\n';
		{% endfor %}

		Swal.fire({
			icon: 'error',
			title: 'Oops...',
			text: errors,
			footer: '<a href>Why do I have this issue?</a>'
		});
	{% endif %}

	$("#id_owner").change(function(){
		datos = $("#myform").serialize()		
		$.ajax({
			type: "GET",
			url: "/dashboard/eventtime/prob_evnt/" + $("#id_owner").serialize(),
			data: datos,
			success: function(data){
				if(data.evento_apl == "Start Shift"){					
					var op = document.getElementById("id_event").getElementsByTagName("option");
					for (var i = 0; i < op.length; i++) {											  				
						(op[i].text == "Start Shift" || op[i].text == "Second Break" || op[i].text == "Lunch") 
						? op[i].disabled = true 
    					: op[i].disabled = false ;
					}
				}
				else if(data.evento_apl ==  "First Break"){
					var op = document.getElementById("id_event").getElementsByTagName("option");
					for (var i = 0; i < op.length; i++) {  				
  						(op[i].text == "Start Shift" || op[i].text == "First Break" || op[i].text == "Lunch") 
						? op[i].disabled = true 
    					: op[i].disabled = false ;
					}
				}
				else if(data.evento_apl == "Second Break"){
					var op = document.getElementById("id_event").getElementsByTagName("option");
					for (var i = 0; i < op.length; i++) {  				
  						(op[i].text == "Start Shift" || op[i].text == "First Break" || op[i].text == "Second Break") 
						? op[i].disabled = true 
    					: op[i].disabled = false ;
					}
				}
				else if(data.evento_apl == "Lunch"){
					var op = document.getElementById("id_event").getElementsByTagName("option");					
					for (var i = 0; i < op.length; i++) {  				
  						(op[i].text == "Start Shift" || op[i].text == "First Break" ||  op[i].text == "Second Break" || op[i].text == "Lunch") 
						? op[i].disabled = true 
    					: op[i].disabled = false ;
					}
					changeEvent()
				}
				else{
					var op = document.getElementById("id_event").getElementsByTagName("option");
					for (var i = 0; i < op.length; i++) {  				
  						(op[i].text == "First Break" || op[i].text == "Second Break" ||  op[i].text == "Lunch" || op[i].text == "Afk") 
						? op[i].disabled = true 
    					: op[i].disabled = false ;
					}
				}					 
			}
		});
	});

	function changeEvent() {
		var x_button = "<a onclick='button_end()'  class='btn btn-lg btn-primary'>End Shift</a>";		
		$("#button_save").remove();
		$('#button_form').append(x_button);		
	}
	function quitar(element){
		document.body.removeChild(element);
	}
	function button_end(){
		owner = $("#id_owner").val()
		url = "/dashboard/eventtime/end_shift/" + owner
		$.ajax({
			url: url,
			success: function(respuesta){
				Swal.fire({
					icon: respuesta.icon,
					title: respuesta.title,
					text: respuesta.text
				}).then(()=>{
					location.href="/dashboard/whois";
				});
			},
			error: function(){
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: errors,
					footer: '<a href>Why do I have this issue?</a>'
				}).then(()=>{
					location.reload();
				});
			}
		});
	}

</script>
{% endblock %}