{% extends 'bases/base.html' %}
{% load static %}
{% block content %}
{{form.media}}

<div class="container">
	<div class="row">
        <div class="col-12 text-center">
            <h1 class="mt-0">Add New Employee</h1>
        </div>
    </div>

	<form id="myform" method="post" action="" autocomplete="off" enctype="multipart/form-data">
	    {% csrf_token %}
    	<div class="row">
	        <div class="col-12">
	            <div class="rounded shadow-sm bg-white">
	                <div class="row p-3 p-lg-4">
	                    <div class="col-12 col-md-6 ">
	                        <div class="p-3 p-lg-4 rounded border ">
	                        	<h4 class="mb-3 mb-lg-4">User Info</h4>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Email</label>
	                                <div class="col-lg-8">{{form.user.email}}</div>
	                            </div>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Password</label>
	                                <div class="col-lg-8">{{form.user.password1}}</div>
	                            </div>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Repeat Password</label>
	                                <div class="col-lg-8">{{form.user.password2}}</div>
	                            </div>
	                            <h4 class="mb-3 mb-lg-4">Personal Info</h4>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                First Name</label>
	                                <div class="col-lg-8">
	                                    {{form.user.first_name}}
	                                </div>
	                            </div>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Last Name</label>
	                                <div class="col-lg-8">{{form.user.last_name}}</div>
	                            </div>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Direction</label>
	                                <div class="col-lg-8">{{form.user.direction}}</div>
	                            </div>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Province</label>
	                                <div class="col-lg-8">{{form.user.province}}</div>
	                            </div>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Country</label>
	                                <div class="col-lg-8">{{form.user.country}}</div>
	                            </div>
	                            <div class="form-group row mb-2">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Telephone</label>
	                                <div class="col-lg-8">{{form.user.telephone}}</div>
	                            </div>
	                            <div class="form-group row mb-1">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Avatar</label>
	                                <div class="col-lg-8">{{form.user.avatar}}</div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-12 col-md-6 mt-3 mt-md-0">
	                        <div class="p-3 p-lg-4 rounded border">
	                            <h4 class="mb-3 mb-lg-4">Employee Options</h4>
	                            <div class="form-group row">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Type of Employee</label>
	                                <div class="col-lg-8">{{form.employee.type_of_employee}}</div>
	                            </div>
	                            <div class="form-group row">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Department</label>
	                                <div class="col-lg-8">{{form.employee.department}}</div>
	                            </div>
	                            <div class="form-group row">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Role</label>
	                                <div class="col-lg-8">{{form.employee.role}}</div>
	                            </div>
	                            <div class="form-group row">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Date hired</label>
	                                <div class="col-lg-8">{{form.employee.date_hired}}</div>
	                            </div>
	                            <div class="form-group row">
	                                <label class="col-lg-4 col-form-label mb-2 mb-lg-0">
	                                Observations</label>
	                                <div class="col-lg-8">{{form.employee.observations}}</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
                        <div class="col-12 text-center mt-2 mb-lg-4">
                            <a onclick="document.getElementById('myform').submit()" class="btn btn-lg btn-primary">Save</a>
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-lg btn-danger">Cancel</a>
                        </div>
                    </div>
	            </div>
	        </div>
    	</div>
	</form>
</div>

{% endblock content %}
