<footer class="border-top bg-white">
    <div class="bottom-footer pt-5 pb-5 bg-lt-gray">
        <div class="container">
            <div class="row align-items-center">
                <div class="copyright col-lg-4 col-md-4 col-sm-12">
                    <i class="far fa-copyright"></i> 2021 
                    <a href="#" title="Logger21">Logger21</a>
                </div>
                <div class="made-with-love text-center col-lg-4 col-md-4 col-sm-12">
                    Made with <i class="fas fa-heart"></i> by Savant-Tech
                </div>
                <div class="footer-extras text-right col-lg-4 col-md-4 col-sm-12">
                    <ul>
                        <!-- <li><a href="#" title="Privacy Policy">Privacy Policy</a></li> -->
                        <li><a href="#" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>